// colors
$black-100: #000000;

$gray-100: #4f4f4f;
$gray-200: #bdbdbd;
$gray-300: #333333;
$gray-400: #dddddd;
$gray-500: #989898;
$gray-600: #e0e0e0;
$gray-700: #949494;
$gray-800: #828282;

$white-100: #ffffff;
$white-200: #f8f8f8;
$white-300: #f2f2f2;

$orange-50: #fff3e0;
$orange-100: #f5a94e;
$orange-200: #f2994a;
$orange-300: #e0812c;
$orange-400: #ef9f2e;

$pink-100: #d60f86;

$blue-100: #3a70da;
$blue-200: #2f80ed;
$blue-300: #3b5998;
$blue-400: #00acee;

$red-100: #e02b4b;
$red-200: #c4302b;
$red-300: #c8232c;

$shadow-100: rgba(0, 0, 0, 0.2);
